{{ define "content" }}
<p class="title">Feed</p>
<div class="container is-widescreen">
  <div class="content">
    <button id="refreshButton" class="button is-primary" type="button">Fetch items</button>
  </div>
  <div id="refreshResult" class="content"></div>
  <div id="feed" class="content">
    <progress class="progress is-primary" max="100"></progress>
  </div>
</div>
<script>
var empty = function(el) {
  while(el.firstChild) el.removeChild(el.firstChild);
}
var showLoadItemsError = function() {
  var feedTarget = document.getElementById("feed");

  empty(feedTarget);
  feedTarget.insertAdjacentHTML("afterbegin", '<div class="notification is-danger animate__animated animate__flipInX" role="alert">Failed to fetch feed items.<br>Check to see if the XML configuration in Settings is correct.</div>');
};
var createExpandElement = function(item, linkElement) {
  var expandElement = document.createElement("div");
  expandElement.setAttribute("class", "my-2")
  expandElement.hidden = true;

  var markUnread = function(button, markUnreadURL) {
    var alertTarget = expandElement.querySelector('.mark-unread-result');
    alertTarget.hidden = true;
    empty(alertTarget);

    button.classList.add("is-loading");

    var showMarkUnreadResult = function(alertClass, message) {
      var alertDiv = document.createElement("div")
      alertDiv.setAttribute("class", "notification animate__animated animate__flipInX");
      alertDiv.setAttribute("role", "alert");
      empty(alertTarget);
      alertTarget.hidden = false;
      alertTarget.append(alertDiv);
      alertDiv.classList.add(alertClass);
      alertDiv.textContent = message;
    };

    var request = new XMLHttpRequest();
    request.open("POST", markUnreadURL, true);
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        showMarkUnreadResult("is-success", "Marked as unread");
      } else {
        showMarkUnreadResult("is-danger", "Failed to mark as unread");
      }
      button.classList.remove("is-loading");
    };
    request.onerror = function() {
      showMarkUnreadResult("is-danger", "Failed to mark as unread");
      button.classList.remove("is-loading");
    };
    request.send("Read=false");
  };
  var showLoadedItem = function(item, progressBar) {
    progressBar.remove();

    var itemPlaceholderElement = document.createElement("article")
    itemPlaceholderElement.setAttribute("class", "box");
    var itemContentsElement = document.createElement("div");
    itemContentsElement.setAttribute("class", "content is-clipped");
    itemPlaceholderElement.append(itemContentsElement);
    if (item.Plaintext) {
      var plaintextContents = document.createElement("pre");
      plaintextContents.textContent = item.Contents;
      item.Contents = plaintextContents.outerHTML;
    }
    itemContentsElement.insertAdjacentHTML("afterbegin", item.Contents);

    var dateElement = document.createElement("p");
    dateElement.setAttribute("class", "content");
    dateElement.insertAdjacentHTML("afterbegin", "<em>Date: " + new Date(item.Date).toLocaleString() + "</em>");
    var siteLink = document.createElement("a");
    siteLink.setAttribute("class", "button is-link");
    siteLink.setAttribute("href", item.URL);
    siteLink.textContent = "Go to site";
    var markUnreadLink = document.createElement("button");
    markUnreadLink.setAttribute("class", "button is-light");
    markUnreadLink.textContent = "Mark as unread";
    markUnreadLink.addEventListener("click", () => {
      markUnread(markUnreadLink, item.MarkUnreadURL);
    });
    var footerElement = document.createElement("p");
    footerElement.setAttribute("class", "content");
    footerElement.append(siteLink);
    footerElement.insertAdjacentText("beforeend", " ");
    footerElement.append(markUnreadLink);
    var markUnreadResult = document.createElement("div");
    markUnreadResult.setAttribute("class", "content mark-unread-result")
    markUnreadResult.hidden = true;

    itemPlaceholderElement.append(itemContentsElement);
    itemPlaceholderElement.append(dateElement);
    itemPlaceholderElement.append(footerElement);
    itemPlaceholderElement.append(markUnreadResult);

    expandElement.append(itemPlaceholderElement);
  };

  var showLoadItemError = function() {
    var alertDiv = document.createElement("div");
    alertDiv.setAttribute("class", "notification is-danger animate__animated animate__flipInX")
    alertDiv.setAttribute("role", "alert")
    alertDiv.textContent = "Failed to fetch item.";
    
    empty(expandElement);

    expandElement.append(alertDiv);
  };

  var loadExpandElementContent = function() {
    var progressBar = document.createElement("div");
    progressBar.setAttribute("class", "progress animate__animated animate__zoomIn");
    progressBar.insertAdjacentHTML("afterbegin", '<progress class="progress is-primary" max="100"></progress>');

    expandElement.append(progressBar);

    var request = new XMLHttpRequest();
    request.open("GET", item.FetchURL, true);
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        var item = JSON.parse(this.response);
        showLoadedItem(item, progressBar);
      } else {
        showLoadItemError();
      }
    };
    request.onerror = showLoadItemError;
    request.send();
  };
  
  linkElement.addEventListener("click", function(){
    // Add handlers for loading items
    if (linkElement.getAttribute("aria-expanded") === "true") {
      // Collapse item
      linkElement.setAttribute("aria-expanded", "false");

      expandElement.hidden = true;
      empty(expandElement);
    } else if (linkElement.getAttribute("aria-expanded") === "false") {
      // Expand item
      linkElement.setAttribute("aria-expanded", "true");
      
      empty(expandElement);

      expandElement.hidden = false;
      loadExpandElementContent();
    }
  });
  return expandElement;
};
var showLoadedItems = function(items) {
  var feedTarget = document.getElementById("feed");

  empty(feedTarget);
  placeholderElement = document.createElement("div");

  for (i in items) {
    var item = items[i];
    var itemElement = document.createElement("div");
    itemElement.setAttribute("class", "animate__animated animate__fadeIn");
    var titleText = document.createElement("span");
    titleText.textContent = item.Title !== "" ? [item.Title, item.Origin].join(" / ") : item.Origin;
    var titleElement = document.createElement("a");
    titleElement.setAttribute("href", "javascript:void(0);");
    titleElement.setAttribute("aria-expanded", "false");
    titleElement.setAttribute("aria-controls", "item-" + i);
    titleElement.append(titleText);
    var expandElement = createExpandElement(item, titleElement);
    if (item.IsRead === false) {
      titleElement.insertAdjacentHTML("beforeend", ' <span class="tag">New</span>');
    }
    itemElement.append(titleElement);
    itemElement.append(expandElement);
    placeholderElement.append(itemElement);
  }

  feedTarget.append(placeholderElement);
};
document.addEventListener("DOMContentLoaded", () => {
  // Load items
  var loadItems = function() {
    var request = new XMLHttpRequest();
    request.open("GET", "api/feed", true);
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        var items = JSON.parse(this.response);
        showLoadedItems(items);
      } else {
        showLoadItemsError();
      }
    };
    request.onerror = showLoadItemsError;
    request.send();
  }
  loadItems();

  // Refresh button
  var refreshResult = document.getElementById("refreshResult")
  var refreshButton = document.getElementById("refreshButton")
  refreshButton.addEventListener("click", () => {
    refreshButton.disabled = true;
    refreshButton.classList.add("is-loading");

    var showRefreshResult = function(alertClass, message) {
      var alertDiv = document.createElement("div")
      alertDiv.setAttribute("class", "notification animate__animated animate__flipInX");
      alertDiv.setAttribute("role", "alert");
      empty(refreshResult);
      refreshResult.append(alertDiv);
      alertDiv.classList.add(alertClass);
      alertDiv.textContent = message;
    };

    var request = new XMLHttpRequest();
    request.open("GET", "api/refresh", true);
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        showRefreshResult("is-success", "Refresh succeeded, reload page to view updated items");
      } else {
        showRefreshResult("is-danger", "Refresh failed");
      }
      refreshButton.disabled = false;
      refreshButton.classList.remove("is-loading");
    };
    request.onerror = function() {
      showRefreshResult("is-danger", "Refresh failed");
      refreshButton.disabled = false;
      refreshButton.classList.remove("is-loading");
    };
    request.send();
  });
});
</script>
{{ end }}
