{{ define "content" }}
<div class="columns">
  <div class="column is-6 is-offset-3">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Login</p>
      </header>
      <div class="card-content">
        <form id="loginForm" autocomplete="off">
          <div class="field">
            <label class="label" for="inputUsername">Username</label>
            <div class="control">
              <input type="text" class="input" id="inputUsername" placeholder="Username" required>
            </div>
          </div>
          <div class="field">
            <label class="label" for="inputPassword">Password</label>
            <div class="control">
              <input type="password" class="input" id="inputPassword" placeholder="Password" required>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label class="checkbox" for="rememberMe">
                <input type="checkbox" id="rememberMe"> Remember me
              </label>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-primary">Sign in</button>
            </div>
          </div>
          <div id="loginFailed" class="notification is-danger animate__animated animate__flipInX" role="alert" hidden>Login failed</div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", () => {
  var loginForm = document.getElementById("loginForm");
  var loginFailed = loginForm.querySelector("#loginFailed");
  var username = loginForm.querySelector("input[id='inputUsername']");
  var password = loginForm.querySelector("input[id='inputPassword']");
  var rememberMe = loginForm.querySelector("input[id='rememberMe']");
  var submit = loginForm.querySelector("button[type='submit']");

  var lockForm = function(processing) {
    [username, password, rememberMe, submit].forEach(function(control){
      control.disabled = processing;
    })
    if(processing) submit.classList.add("is-loading");
    else submit.classList.remove("is-loading");
  };

  var showError = function() {
    lockForm(false);
    loginFailed.hidden = false;
  };

  loginForm.addEventListener("submit", function(event){
    event.preventDefault();
    loginFailed.hidden = true;
    lockForm(true);

    var request = new XMLHttpRequest();
    var postData = "username=" + encodeURIComponent(username.value) + "&" +
       "password=" + encodeURIComponent(password.value) + "&" +
       "rememberMe=" + encodeURIComponent(rememberMe.checked);
    request.open("POST", "api/login", true);
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        window.location.href = "feed";
      } else {
        showError();
      }
    };
    request.onerror = showError;
    request.send(postData);
  });
});
</script>
{{ end }}
