{{ define "content" }}
<p class="title">Status</p>
<div class="content">
  <div id="status">
    <progress class="progress is-primary" max="100"></progress>
  </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", () => {
  var statusTarget = document.getElementById("status");
  var emptyStatusTarget = function() {
    while(statusTarget.firstChild) statusTarget.removeChild(statusTarget.firstChild);
  };

  var showError = function(){
    var alertDiv = document.createElement("div");
    alertDiv.setAttribute("class", "notification is-danger animate__animated animate__flipInX")
    alertDiv.setAttribute("role", "alert")
    alertDiv.textContent = "Failed to fetch feed status.";
    
    emptyStatusTarget();

    statusTarget.append(alertDiv);
  };

  var showItems = function(items) {
    emptyStatusTarget();

    var createDateNode = function(label, date) {
      var dateNode = document.createElement("em");
      dateNode.textContent = new Date(date).toLocaleString();
      var labelNode = document.createElement("span");
      labelNode.textContent = label;
      var dateNodeDiv = document.createElement("div");
      dateNodeDiv.append(labelNode);
      dateNodeDiv.append(dateNode);
      return dateNodeDiv;
    };

    for (i in items) {
        var item = items[i];
        var itemArticle = document.createElement("article");
        itemArticle.setAttribute("class", "message is-success");
        statusTarget.append(itemArticle);
        if (item.Success) {
          itemArticle.classList.add("is-success");
        } else if (item.LastFailure !== undefined) {
          itemArticle.classList.add("is-danger");
        } else {
          itemArticle.classList.add("is-warning");
        }
        var itemHeader = document.createElement("div");
        itemHeader.setAttribute("class", "message-header");
        itemHeader.textContent = item.Name;
        itemArticle.append(itemHeader);
        var itemEntry = document.createElement("div");
        itemEntry.setAttribute("class", "message-body")
        itemArticle.append(itemEntry);
        if (item.LastFailure !== undefined) {
          itemEntry.append(createDateNode("Last failure: ", item.LastFailure));
        }
        if (item.LastSuccess !== undefined) {
          itemEntry.append(createDateNode("Last success: ", item.LastSuccess));
        }
      }
  };

  var request = new XMLHttpRequest();
  request.open("GET", "api/status", true);
  request.onload = function() {
    if (this.status >= 200 && this.status < 400) {
      var items = JSON.parse(this.response);
      showItems(items);
    } else {
      showError();
    }
  };
  request.onerror = showError;
  request.send();
});
</script>
{{ end }}
