{{ define "content" }}
<div class="py-1">
  <button id="refreshButton" class="btn btn-primary" type="button">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
    Fetch items
  </button>
</div>
<div class="py-1" id="refreshResult"></div>
<div id="feed">
  <div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
</div>
<script>
$(document).ready(function() {
  // Load items
  var feedTarget = $("#feed");
  var loadItems = function() {
    $.getJSON("api/feed").done(function(items) {
      feedTarget.empty();
      var placeholderElement = $('<div></div>');
      placeholderElement.hide();
      for (i in items) {
        var item = items[i];
        var titleText = $('<span></span> ').text(item.Title !== "" ? [item.Title, item.Origin].join(" / ") : item.Origin);
        var titleElement = $('<a href="#item-' + i + '" data-toggle="collapse" aria-expanded="false" aria-controls="item-' + i +  '"></a>').append(titleText);
        var expandElement = $('<div id="item-' + i + '" class="collapse" data-fetchurl="' + item.FetchURL +'"></div>');
        var itemElement = $('<div></div>');
        itemHeaderElement = $('<h3></h3>').append(titleElement);
        if (item.IsRead === false) {
          $('<span><span class="badge badge-secondary">New</span> </span>').prependTo(itemHeaderElement);
        }
        itemElement.append(itemHeaderElement);
        itemElement.append(expandElement);
        placeholderElement.append(itemElement);
      }
      feedTarget.append(placeholderElement);
      placeholderElement.slideDown();
    }).fail(function() {
      var alertDiv = $('<div class="alert alert-danger" role="alert">Failed to fetch feed items.<br>Check to see if the XML configuration in Settings is correct.</div>');
      feedTarget.empty().append(alertDiv);
      alertDiv.hide();
      alertDiv.slideDown();
    });
  }
  loadItems();
  // Add handlers for loading items
  // Expand item
  $(document).on('show.bs.collapse', 'div[id^="item"].collapse', function() {
    var collapse = jQuery(this);
    var progressElement = $('<div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>');

    collapse.empty().append(progressElement);
  });
  $(document).on('shown.bs.collapse', 'div[id^="item"].collapse', function() {
    var collapse = jQuery(this);

    $.getJSON(collapse.attr('data-fetchurl'), function(item) {
      collapse.empty();
      var placeholderElement = $('<div class="card"></div>');
      var itemContentsElement = $('<div class="item-content"></div>');
      if (item.Plaintext) {
        item.Contents = $('<pre></pre>').text(item.Contents);
      }
      itemContentsElement.append(item.Contents);

      var dateElement = $('<div class="py-2"><em>Date: ' + new Date(item.Date).toLocaleString() + '</em></div>');
      var bodyElement = $('<div class="card-body"></div>');
      var siteLink = $('<a class="btn btn-primary">Go to site</a>').prop('href', item.URL);
      var markUnreadLink = $('<button type="button" class="btn btn-outline-primary"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span> Mark as unread</button>')
        .attr('data-markunread', item.MarkUnreadURL);
      var footerElement = $('<div class="py-1"></div>').append(siteLink).append(" ").append(markUnreadLink);
      var markUnreadResult = $('<div class="py-1 mark-unread-result" hidden></div>');

      bodyElement.append(itemContentsElement).append(dateElement).append(footerElement).append(markUnreadResult);
      placeholderElement.hide().append(bodyElement);
      collapse.append(placeholderElement);
      placeholderElement.slideDown();
    }).fail(function() {
      var alertDiv = $('<div class="alert alert-danger" role="alert">Failed to fetch item.</div>');
      collapse.empty().append(alertDiv);
      alertDiv.hide();
      alertDiv.slideDown();
    });
  });
  // Collapse item
  $(document).on('hidden.bs.collapse', 'div[id^="item"].collapse', function() {
    var collapse = jQuery(this);
    collapse.empty();
  });
  // Mark read/unread
  $(document).on('click', 'button[data-markunread]', function() {
    var button = jQuery(this);
    var spinner = button.children('span[role="status"]');
    spinner.prop("hidden", false);

    var alertTarget = button.parent().parent().find('.mark-unread-result').empty().prop("hidden", true);
    var markUnreadURL = button.attr('data-markunread');

    var showMarkUnreadResult = function(alertClass, message) {
      var alertDiv = $('<div class="alert" role="alert"></div>');
      alertTarget.empty().prop("hidden", false).append(alertDiv);
      alertDiv.addClass(alertClass);
      alertDiv.text(message);
      alertDiv.hide();
      alertDiv.slideDown();
    }

    $.post(markUnreadURL, "Read=false")
    .done(function(){
      showMarkUnreadResult("alert-success", "Marked as unread");
    })
    .fail(function(){
      showMarkUnreadResult("alert-danger", "Failed to mark as unread");
    })
    .always(function() {
      spinner.prop("hidden", true);
    });
    
  });
  // Refresh button
  var refreshResult = $("#refreshResult");
  $('#refreshButton').click(function() {
    var button = jQuery(this);
    var spinner = button.children('span[role="status"]');
    var showResultAlert = function(alertClass, message){
      var alertDiv = $('<div class="alert" role="alert"></div>');
      refreshResult.empty().append(alertDiv);
      alertDiv.addClass(alertClass);
      alertDiv.text(message);
      alertDiv.hide();
      alertDiv.slideDown();
    }
    button.prop("disabled", true)
    spinner.prop("hidden", false);
    $.get("api/refresh")
    .done(function() {
      showResultAlert("alert-success", "Refresh succeeded, reload page to view updated items");
    })
    .fail(function() {
      showResultAlert("alert-danger", "Refresh failed");
    })
    .always(function() {
      button.prop("disabled", false);
      spinner.prop("hidden", true);
    });
  })
});
</script>
{{ end }}
