{{ define "content" }}
<h2>Login</h2>
<form id="loginForm" autocomplete="off">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputUsername">Username</label>
      <input type="text" class="form-control" id="inputUsername" placeholder="Username" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="rememberMe">
        <label class="custom-control-label" for="rememberMe">Remember me</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <button type="submit" class="btn btn-primary">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
        Sign in
      </button>
    </div>
  </div>
  <div id="loginFailed" class="alert alert-danger animate__animated animate__flipInX" role="alert" hidden>Login failed</div>
</form>
<script>
document.addEventListener("DOMContentLoaded", () => {
  var loginForm = document.getElementById("loginForm");
  var loginFailed = loginForm.querySelector("#loginFailed");
  var username = loginForm.querySelector("input[id='inputUsername']");
  var password = loginForm.querySelector("input[id='inputPassword']");
  var rememberMe = loginForm.querySelector("input[id='rememberMe']");
  var submit = loginForm.querySelector("button[type='submit']");
  var spinner = loginForm.querySelector("button[type='submit'] span[role='status']");

  var lockForm = function(processing) {
    [username, password, rememberMe, submit].forEach(function(control){
      control.disabled = processing;
    })
    spinner.hidden = !processing;
  };

  var showError = function() {
    lockForm(false);
    loginFailed.hidden = false;
  };

  loginForm.addEventListener("submit", function(event){
    event.preventDefault();
    loginFailed.hidden = true;
    lockForm(true);

    var request = new XMLHttpRequest();
    var postData = "username=" + encodeURIComponent(username.value) + "&" +
       "password=" + encodeURIComponent(password.value) + "&" +
       "rememberMe=" + encodeURIComponent(rememberMe.checked);
    request.open("POST", "api/login", true);
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        window.location.href = "feed";
      } else {
        showError();
      }
    };
    request.onerror = showError;
    request.send(postData);
  });
});
</script>
{{ end }}
