{{ define "content" }}
<h2>Login</h2>
<form id="loginForm" autocomplete="off">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputUsername">Username</label>
      <input type="text" class="form-control" id="inputUsername" placeholder="Username" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="rememberMe">
        <label class="custom-control-label" for="rememberMe">Remember me</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <button type="submit" class="btn btn-primary">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
        Sign in
      </button>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <div id="loginResult" class="slide-down-alert collapsed">
        <div id="loginFailed" class="alert alert-danger" role="alert" hidden>Login failed</div>
      </div>
    </div>
  </div>
</form>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var submit = document.querySelector('button[type="submit"]');
  var spinner = document.querySelector('button[type="submit"] span[role="status"]');
  var username = document.querySelector("input[id='inputUsername']");
  var password = document.querySelector("input[id='inputPassword']");
  var rememberMe = document.querySelector("input[id='rememberMe']");
  var loginResultDiv = document.querySelector("#loginResult")
  var loginFailedAlert = document.querySelector("#loginFailed");
  document.querySelector("#loginForm").addEventListener("submit", function(event) {
    event.preventDefault();
    // Prepare request
    var lockForm = function(processing){
      [username, password, rememberMe, submit].forEach(function(control){
        if (processing) {
          control.disabled = true;
        } else {
          control.removeAttribute("disabled");
        }
      })
      spinner.hidden = !processing;
    }
    var postData = "username=" + encodeURIComponent(username.value) + "&" +
      "password=" + encodeURIComponent(password.value) + "&" +
      "rememberMe=" + encodeURIComponent(rememberMe.checked);
    // Post data
    lockForm(true);
    loginResultDiv.classList.add("collapsed");
    loginFailedAlert.hidden = true;
    fetch("api/login", {
      method: "POST",
      headers: {"Content-Type": "application/x-www-form-urlencoded;charset=UTF-8"},
      body: postData
    })
    .then(function(response) {
      if (response.status !== 200) {
        throw new Error(response.body);
      }
      window.location.href = "feed";
    })
    .catch(function(error) {
      lockForm(false);
      loginResultDiv.classList.remove("collapsed");
      loginFailedAlert.removeAttribute("hidden");
    });
  });
});
</script>
{{ end }}
