{{ define "content" }}
<p class="title">Settings</p>
<div class="content">
  <div class="container is-widescreen">
    <form id="configurationForm" accept-charset="utf-8" autocomplete="off">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="editUsername" class="label">Username</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input type="text" class="input" id="editUsername" placeholder="Username" required>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="editPassword" class="label">Password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input type="password" class="input" id="editPassword" placeholder="Password">
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="editOPML" class="label">OPML</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <textarea name="opml" id="editOPML" class="textarea" rows="20" required></textarea>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="editPageMonitor" class="label">Page Monitor</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <textarea name="pagemonitor" id="editPageMonitor" class="textarea" rows="20" required></textarea>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal"></div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <button type="submit" class="button is-primary">Save</button>
            </p>
            <div class="content">
              <div id="saveSuccessful" class="notification is-success animate__animated animate__flipInX" role="alert" hidden>Saved successfully</div>
              <div id="saveFailed" class="notification is-danger animate__animated animate__flipInX" role="alert" hidden>Save failed</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script>  
document.addEventListener("DOMContentLoaded", () => {
  var opml = document.querySelector('textarea[name="opml"]');
  var pagemonitor = document.querySelector('textarea[name="pagemonitor"]');
  var username = document.querySelector('input[id="editUsername"]');
  var password = document.querySelector('input[id="editPassword"]');
  var submit = document.querySelector('button[type="submit"]');
  var lockConfiguration = function(processing){
    [opml, pagemonitor, username, password, submit].forEach(function(control){
      control.disabled = processing;
    });
    if(processing) submit.classList.add("is-loading");
    else submit.classList.remove("is-loading");
  };
  var showResultAlert = function(alertDiv){
    alertDiv.hidden = false;
  };

  var updateFormValues = function(settings) {
    username.value = settings.Username;
    password.value = "";
    opml.value = settings.Opml;
    pagemonitor.value = settings.Pagemonitor;
  };

  // Load current field items
  var form = document.getElementById("configurationForm");
  var loadItems = function() {
    lockConfiguration(true);
    submit.classList.remove("is-loading");

    var showError = function() {
      var alertDiv = document.createElement("div");
      alertDiv.setAttribute("class", "alert alert-danger animate__animated animate__flipInX");
      alertDiv.setAttribute("role", "alert");
      alertDiv.textContent = "Failed to fetch current configuration.";
      while(form.firstChild) form.removeChild(form.firstChild);
      form.append(alertDiv);
    };

    var request = new XMLHttpRequest();
    request.open("GET", "api/configuration", true);
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        var settings = JSON.parse(this.response);
        lockConfiguration(false);
        updateFormValues(settings);
      } else {
        showError();
      }
    };
    request.onerror = showError;
    request.send();
  };
  loadItems();

  // Submit configuration handler
  form.addEventListener("submit", function(event){
    event.preventDefault();
    lockConfiguration(true);
    // Prepare request
    var saveSuccessful = form.querySelector("#saveSuccessful");
    var saveFailed = form.querySelector("#saveFailed");
    saveSuccessful.hidden = true;
    saveFailed.hidden = true;

    var postData = "Username=" + encodeURIComponent(username.value) + "&" +
      "Opml=" + encodeURIComponent(opml.value) + "&" +
      "Pagemonitor=" + encodeURIComponent(pagemonitor.value);
    if (password.value !== null && password.value !== undefined && password.value !== "") {
      postData += "&" + "Password=" + encodeURIComponent(password.value)
    }

    var showError = function(){
      showResultAlert(saveFailed);
      lockConfiguration(false);
    };
    // Send data
    var request = new XMLHttpRequest();
    request.open("POST", "api/configuration", true);
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        showResultAlert(saveSuccessful);
        updateFormValues(JSON.parse(this.response));
        lockConfiguration(false);
      } else {
        showError();
      }
    };
    request.onerror = showError;
    request.send(postData);
  });
});
</script>
{{ end }}