{{ define "content" }}
<form id="configurationForm" accept-charset="utf-8" autocomplete="off">
  <div class="form-group row">
    <label for="editUsername" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="editUsername" placeholder="Username" value="{{ .Username }}" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="editPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="editPassword" placeholder="Password">
    </div>
  </div>
  <div class="form-group row">
    <label for="editOPML" class="col-sm-2 col-form-label">OPML</label>
    <div class="col-sm-10">
      <textarea name="opml" id="editOPML" class="form-control" rows="20" required>{{ .User.Opml | html }}</textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="editPageMonitor" class="col-sm-2 col-form-label">Page Monitor</label>
    <div class="col-sm-10">
      <textarea name="pagemonitor" id="editPageMonitor" class="form-control" rows="20" required>{{ .User.Pagemonitor | html }}</textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
        Save
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <div id="saveResult" class="slide-down-alert collapsed">
        <div id="saveSuccessful" class="alert alert-success " role="alert">Saved successfully</div>
        <div id="saveFailed" class="alert alert-danger" role="alert">Save failed</div>
      </div>
    </div>
  </div>
</form>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var opml = document.querySelector('textarea[name="opml"]');
  var pagemonitor = document.querySelector('textarea[name="pagemonitor"]');
  var username = document.querySelector('input[id="editUsername"]');
  var password = document.querySelector('input[id="editPassword"]');
  var submit = document.querySelector('button[type="submit"]');
  var spinner = document.querySelector('button[type="submit"] span[role="status"]');
  var saveResultDiv = document.querySelector("#saveResult")
  var lockConfiguration = function(processing){
    [opml, pagemonitor, username, password, submit].forEach(function(control){
      if (processing) {
        control.disabled = true;
      } else {
        control.removeAttribute("disabled");
      }
    })
    spinner.hidden = !processing;
  }
  var showResultAlert = function(alertDiv) {
    saveResultDiv.classList.remove("collapsed");
    alertDiv.removeAttribute("hidden");
  }
  // Submit configuration handler
  document.querySelector("#configurationForm").addEventListener("submit", function(event) {
    event.preventDefault();
    lockConfiguration(true);
    // Prepare request
    var form = event.target;
    ["#saveFailed", "#saveSuccessful"].forEach(function (id) {
      form.querySelector(id).hidden = true;
    })
    saveResultDiv.classList.add("collapsed");
    var postData = "username=" + encodeURIComponent(username.value) + "&" +
      "opml=" + encodeURIComponent(opml.value) + "&" +
      "pagemonitor=" + encodeURIComponent(pagemonitor.value);
    if (password.value !== null || password.value !== undefined || password.value === '') {
      postData += "&" + "password=" + encodeURIComponent(password.value)
    }
    // Post data
    fetch("api/configuration", {
      method: "POST",
      headers: {"Content-Type": "application/x-www-form-urlencoded;charset=UTF-8"},
      body: postData
    })
    .then(function(response) {
      if (response.status !== 200) {
        throw new Error(response.body);
      }
      showResultAlert(form.querySelector("#saveSuccessful"));
      lockConfiguration(false);
    })
    .catch(function() {
      showResultAlert(form.querySelector("#saveFailed"));
      lockConfiguration(false);
    });
  });
});
</script>
{{ end }}