{{ define "content" }}
<form id="configurationForm" accept-charset="utf-8" autocomplete="off">
  <div class="form-group row">
    <label for="editUsername" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="editUsername" placeholder="Username" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="editPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="editPassword" placeholder="Password">
    </div>
  </div>
  <div class="form-group row">
    <label for="editOPML" class="col-sm-2 col-form-label">OPML</label>
    <div class="col-sm-10">
      <textarea name="opml" id="editOPML" class="form-control" rows="20" required></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="editPageMonitor" class="col-sm-2 col-form-label">Page Monitor</label>
    <div class="col-sm-10">
      <textarea name="pagemonitor" id="editPageMonitor" class="form-control" rows="20" required></textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
        Save</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <div id="saveSuccessful" class="alert alert-success" role="alert" hidden>Saved successfully</div>
      <div id="saveFailed" class="alert alert-danger" role="alert" hidden>Save failed</div>
    </div>
  </div>
</form>
<script>
$(document).ready(function() {
  var opml = $('textarea[name="opml"]');
  var pagemonitor = $('textarea[name="pagemonitor"]');
  var username = $('input[id="editUsername"]');
  var password = $('input[id="editPassword"]');
  var submit = $('button[type="submit"]');
  var spinner = $('button[type="submit"] span[role="status"]');
  var lockConfiguration = function(processing){
    [opml, pagemonitor, username, password, submit, spinner].forEach(function(control){
      control.attr("disabled", processing);
    });
    spinner.prop("hidden", !processing);
  }
  var showResultAlert = function(alertDiv){
    alertDiv.hide();
    alertDiv.prop("hidden", false);
    alertDiv.slideDown();
  }

  var updateFormValues = function(settings) {
    username.val(settings.Username);
    password.val("");
    opml.text(settings.Opml);
    pagemonitor.text(settings.Pagemonitor);
  }

  // Load current field items
  var loadItems = function() {
    lockConfiguration(true);
    spinner.prop("hidden", true);
    $.getJSON("api/configuration").done(function(settings) {
      lockConfiguration(false);
      updateFormValues(settings);
    }).fail(function() {
      var alertDiv = $('<div class="alert alert-danger" role="alert">Failed to fetch current configuration.</div>');
      var form = $("#configurationForm");
      form.empty().append(alertDiv);
      alertDiv.hide();
      alertDiv.slideDown();
    });
  }
  loadItems();

  // Submit configuration handler
  $("#configurationForm").submit(function(event) {
    event.preventDefault();
    lockConfiguration(true);
    // Prepare request
    var $form = $(this);
    $form.find("#saveFailed").prop("hidden", true);
    $form.find("#saveSuccessful").prop("hidden", true);
    var postData = {Username: username.val(), Password: password.val(), Opml: opml.val(), Pagemonitor: pagemonitor.val()};
    if(postData.Password === null || postData.Password === undefined || postData.Password === '')
      delete postData.Password;
    // Send data
    $.post("api/configuration", postData)
    .done(function(data) {
      showResultAlert($form.find("#saveSuccessful"));
      updateFormValues(JSON.parse(data));
    })
    .fail(function() {
      showResultAlert($form.find("#saveFailed"));
    })
    .always(function() {
      lockConfiguration(false);
    });
  });
});
</script>
{{ end }}