{{ define "content" }}
<div id="status">
  <div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
</div>
<script>
document.addEventListener("DOMContentLoaded", () => {
  var statusTarget = document.getElementById("status");
  var emptyStatusTarget = function() {
    while(statusTarget.firstChild) statusTarget.removeChild(statusTarget.firstChild);
  };

  var showError = function(){
    var alertDiv = document.createElement("div");
    alertDiv.setAttribute("class", "alert alert-danger animate__animated animate__flipInX")
    alertDiv.setAttribute("role", "alert")
    alertDiv.textContent = "Failed to fetch feed status.";
    
    emptyStatusTarget();

    statusTarget.append(alertDiv);
  };

  var showItems = function(items) {
    emptyStatusTarget();

    var itemsCard = document.createElement("div");
    itemsCard.setAttribute("class", "card");
    statusTarget.append(itemsCard);
    var itemsList = document.createElement("ul");
    itemsList.setAttribute("class", "list-group list-group-flush");
    itemsCard.append(itemsList)

    var createDateNode = function(label, date) {
      var dateNode = document.createElement("em");
      dateNode.textContent = new Date(date).toLocaleString();
      var labelNode = document.createElement("span");
      labelNode.textContent = label;
      var smallNode = document.createElement("small");
      smallNode.append(labelNode);
      smallNode.append(dateNode);
      var dateNodeDiv = document.createElement("div");
      dateNodeDiv.append(smallNode);
      return dateNodeDiv;
    };

    for (i in items) {
        var item = items[i];
        var itemListItem = document.createElement("li");
        itemListItem.setAttribute("class", "list-group-item");
        itemsList.append(itemListItem);
        var itemEntry = document.createElement("div");
        itemListItem.append(itemEntry);
        if (item.Success) {
          itemListItem.classList.add("list-group-item-success");
        } else if (item.LastFailure !== undefined) {
          itemListItem.classList.add("list-group-item-danger");
        } else {
          itemListItem.classList.add("list-group-item-warning");
        }
        var itemHeader = document.createElement("h5");
        itemHeader.textContent = item.Name;
        itemEntry.append(itemHeader);
        if (item.LastFailure !== undefined) {
          itemEntry.append(createDateNode("Last failure: ", item.LastFailure));
        }
        if (item.LastSuccess !== undefined) {
          itemEntry.append(createDateNode("Last success: ", item.LastSuccess));
        }
      }
  };

  var request = new XMLHttpRequest();
  request.open("GET", "api/status", true);
  request.onload = function() {
    if (this.status >= 200 && this.status < 400) {
      var items = JSON.parse(this.response);
      showItems(items);
    } else {
      showError();
    }
  };
  request.onerror = showError;
  request.send();
});
</script>
{{ end }}
