{{ define "layout" }}
<!DOCTYPE html>
<html>
  <head>
    <title>nanoRSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script type="text/javascript" src="static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/popper.min.js"></script>
    <script type="text/javascript" src="static/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <span class="navbar-brand">nanoRSS</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          {{ if .User }}
          <li class="nav-item{{ if eq .Name `feed` }} active{{ end }}">
            <a class="nav-link" href="feed">Feed</a>
          </li>
          <li class="nav-item{{ if eq .Name `settings` }} active{{ end }}">
            <a class="nav-link" href="settings">Settings</a>
          </li>
          {{ end }}
        </ul>
        <a class="btn btn-outline-secondary" href="logout">Logout</a>
      </div>
    </nav>
    <div class="container p-3">
      {{ template "content" . }}
    </div>
  </body>
</html>
{{ end }}